<ion-view title="Information Tab Default Page">
    <ion-content padding="true" class="has-header">
        <a href="#/page6" class="button button-royal button-block ">News</a>
        <a href="#/page5" class="button button-royal button-block ">School</a>
        <a href="#/page7" class="button button-royal button-block ">Games</a>
        <a href="#/page8" class="button button-royal button-block ">Player Information</a>
        <a href="#/page9" class="button button-royal button-block ">Sport</a>
    </ion-content>
</ion-view>